#body-wrapper {
	height: 700px;
	width: 900px;
	margin: 0px auto;
}
#button-wrapper {
	margin: 5px;
}
#display-wrapper {
	width: 100%;
	height: 630px;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}
